aioboto3==15.2.0
aiobotocore==2.24.2
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aioitertools==0.12.0
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
anthropic==0.69.0
anyio==4.11.0
asttokens==3.0.0
attrs==25.4.0
beautifulsoup4==4.14.2
blinker==1.9.0
boto3==1.40.18
botocore==1.40.18
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
comm==0.2.3
debugpy==1.8.17
decorator==5.2.1
distro==1.9.0
docstring_parser==0.17.0
executing==2.2.1
frozenlist==1.8.0
fsspec==2025.9.0
fuzzysearch==0.8.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.41.1
google-genai==1.43.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ijson==3.4.0.post0
inspect_ai==0.3.137
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
jedi==0.19.2
Jinja2==3.1.6
jiter==0.11.0
jmespath==1.0.1
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyterlab_widgets==3.0.15
linkify-it-py==2.0.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.1.7
mdit-py-plugins==0.5.0
mdurl==0.1.2
mmh3==5.2.0
multidict==6.7.0
narwhals==2.8.0
nest-asyncio==1.6.0
numpy==2.3.3
openai==2.3.0
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathlib_abc==0.5.1
petri @ git+https://github.com/safety-research/petri@78fea4926f99f365ef558b6df665b34966f3990c
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.5.0
ply==3.11
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.32.1
psutil==7.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.12.2
pydantic_core==2.41.4
pydeck==0.9.1
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rich==14.2.0
rpds-py==0.27.1
rsa==4.9.1
s3fs==2025.9.0
s3transfer==0.13.1
semver==3.0.4
shortuuid==1.0.13
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
stack-data==0.6.3
streamlit==1.50.0
tenacity==9.1.2
textual==6.3.0
toml==0.10.2
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uc-micro-py==1.0.3
universal_pathlib==0.3.3
urllib3==2.5.0
watchdog==6.0.0
wcwidth==0.2.14
websockets==15.0.1
widgetsnbextension==4.0.14
wrapt==1.17.3
yarl==1.22.0
zipp==3.23.0
